<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<a href="/">Quay lai trang chu</a>
<form method="post" th:action="@{/edit}" th:object="${Blog}">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{tit}"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
</body>
</html>